@import "./vars.scss";
@import "./fonts.scss";
@import "./responsive.scss";
@import "./title.scss";
@import "./form.scss";

html,
body,
#root {
	width: 100%;
	height: 100%;
	background: rgb(245, 245, 245);
}

html,
body,
#root,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
ul,
li,
input,
textarea {
	padding: 0;
	margin: 0;
}

* {
	font-family: "OpenSans Regular", sans-serif;
	font-size: 13pt;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
input,
a,
button,
textarea,
select {
	color: $color-1;
}

ul {
	display: flex;
	list-style-type: none;
	align-items: center;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

a,
button,
select,
textarea,
input {
	transition: all 0.2s ease-out;
}

button,
input[type="submit"] {
	cursor: pointer;
}

button,
input,
textarea,
select {
	padding: 10px 20px 10px 20px;
	border: none;
	border-radius: 5px;
}

.bold {
	font-family: "OpenSans Bold", sans-serif;
}
