$lg: 1400px;
$md: 1100px;
$sm: 800px;
$xsm: 480px;
$color-1: rgb(82, 98, 120);
$color-2: rgb(232, 240, 254);
$color-3: rgb(230, 230, 230);
$color-4: rgb(206, 206, 206);
$color-5: rgb(200, 200, 200);
$color-6: rgb(221, 0, 49);
