@import "../../styles/vars.scss";

.page-connexion {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	.window {
		display: flex;
		flex-direction: column;
		background: white;
		box-shadow: 0px 0px 10px $color-5;
		width: 600px;
		height: 310px;
		border-radius: 5px;
		overflow: hidden;
		.head {
			width: 100%;
			padding: 10px 0 10px 0;
			.title {
				padding-left: 20px;
			}
		}
		.separator {
			background: $color-5;
			width: 100%;
			height: 1px;
		}
		.form {
			padding-top: 20px;
			.input {
				width: 400px;
			}
			.submit--disabled {
				pointer-events: none;
			}
			.bot {
				display: flex;
				align-items: center;
				.loading {
					margin-left: 20px;
				}
			}
		}
		.error {
			color: red;
			text-align: center;
			padding-top: 20px;
			transition: all 0.2s ease-out;
		}
	}
}
